


* {
    background-image: url(logofullop.png);
    background-position: right bottom ;
    background-repeat: no-repeat;
    
    background-attachment: fixed;
}


a{
    text-decoration: none;
    color: #1b1b1b;
}

body {
    color: #1b1b1b;
    font-family: 'Raleway','sans-serif';
    
    
    

    
    
}

.bgimg  {
    z-index: -1;
    position: relative;
    opacity: 75%;

}

.topname {
    font-size: 48px;
    font-weight: 800;
}

.htext {
    margin-top: 11%;
    width: 55%;
    font-size: 3vw;
    font-weight: 600;
}

.comingsoon {
    height: 100vh;
    justify-content: center;
    width: 55%;
    font-size: 3vw;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 50px;

}

.cstxt{
    margin-bottom: 25px;
}

.content {
    margin: 3em;
    margin-top: 25vh;
    justify-content: center;
}

.btns {
    display: flex;
    flex-direction: row;
}

.cta {
    background-color: #1b1b1b;
    color: #ffffff;
    width: 100px;
    text-align: center;
    padding: 18px;
    border-radius: 12px;
    border-color: #1b1b1b;
    transition: all 150ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.cta:hover,
.cta:focus  {
    background-color: #f4f4f4;
    border: 0ch;
    color: #1b1b1b;
    font-weight: bold;
}

.m{
    
    border-bottom: 0px solid #DFF2FF;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        border-bottom: 0px solid #9cbdd300;
        opacity: 0;
    }
    100% {
        border-bottom: 7.77px solid #f4f4f4ff;
        opacity: 100;
     }
}

@keyframes fadeInAnimationp {
    0% {
        border-bottom: 0px solid #DFFFEC00;
        
    }
    100% {
        border-bottom: 7.77px solid #f4f4f4FF;
        
     }
}

.p {
    border-bottom: 7.77px solid #DFFFEC;
    animation: fadeInAnimationp ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.ncta:hover,
.ncta:focus {
    outline-width: 3px;
    border-bottom: 5px solid #f4f4f4;  
}
.ncta {
    
    background-color: #fff;
    margin-left: 20px;
    border-color: #f4f4f4;
    border-radius: 5px;
    transition: border-bottom 100ms ease-in-out;
    width: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 15px;
    
}

.ic a {
    margin-right: 15px;
}