


* {
    background-image: url(logoweb.png);
    background-position: right bottom ;
    background-repeat: no-repeat;
    /* cursor: url(cur-b.cur) 15 15, auto; */
    background-attachment: fixed;
    /* transition: all 100ms; */
    
}



a{
    text-decoration: none;
    color: #1b1b1b;
}

body {
    color: #1b1b1b;
    font-family: 'Raleway','sans-serif';
    height: 100vh; 
      
}

.bgimg  {
    z-index: -1;
    position: relative;
    opacity: 75%;

}

.topname {
    font-size: 48px;
    font-weight: 800;
}

.htext {
    margin-top: 11%;
    width: 55%;
    font-size: 3vw;
    font-weight: 600;
}

.comingsoon {
    height: 100vh;
    justify-content: center;
    width: 55%;
    font-size: 3vw;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 50px;

}

.cstxt{
    margin-bottom: 25px;
}

.content {
    margin: 3em;
    margin-top: 25vh;
    justify-content: center;
}

.btns {
    display: flex;
    flex-direction: row;
}

.cta {
    background-color: #1b1b1b;
    color: #ffffff;
    width: 100px;
    text-align: center;
    padding: 18px;
    border-radius: 12px;
    border-color: #1b1b1b;
    transition: all 150ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    /* cursor: url(cur-bt.cur) 15 10, auto; */

    
}

.cta:hover,
.cta:focus  {
    background-color: #f4f4f4;
    border: 0ch;
    color: #1b1b1b;
    
}

.m{
    
    background-color: #DFF2FF;
}
.p {
    background-color: #DFFFEC;;
}

.ncta:hover,
.ncta:focus {
    outline-width: 3px;
    border-bottom: 5px solid #f4f4f4;  
}
.ncta {
    
    background-color: #fff;
    margin-left: 20px;
    border-color: #f4f4f4;
    border-radius: 5px;
    transition: border-bottom 100ms ease-in-out;
    width: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 15px;
    /* cursor: url(cur-bt.cur) 15 15, auto; */
    
}

.ic a {
    margin-right: 15px;
}





/* this is going to be for mobile device from below here  */



@media only screen and (max-width: 600px) {
    
a{
    text-decoration: none;
    color: #1b1b1b;
}

body {
    color: #1b1b1b;
    font-family: 'Raleway','sans-serif';
    height: 100vh;   
}

.htext{
    font-size: 32px;
    font-weight: 800;
    width: 100%;
    margin-top: 0%;
    text-align: center;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  }