
.herocon{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;

    /* padding-bottom: 150px; */
}
.herocon2{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100vh;
}

.blue{
    color: #09f;
}

.lmore{
    background-color: #09f;
    color: #fff;
    width: 170px;
    height: 55px;
    justify-content: center;
    display: flex;
    border-radius: 6px;
    align-items: center;
    /* text-align: center; */
    float: right
    
}

*{
    margin: 0%;
    padding: 0%;
}


.darbg{
    background-color: #1b1b1b!important;
    color: #ffffff;
}

.dwnld{
    background-color: #09f;
    color: #fff;
    width: 170px;
    height: 55px;
    justify-content: center;
    display: flex;
    border-radius: 6px;
    align-items: center;
    /* text-align: center; */
    /* float: right */
    
}



.textlink {
    color: #1b1b1b;
    width: 170px;
    height: 55px;
    justify-content: center;
    display: flex;
    border-radius: 6px;
    align-items: center;
    position: relative;
  }
  .textlink:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 5px;
    left: 50%;
    position: absolute;
    background: #1b1b1b;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .textlink:hover:after { 
    width: 100%; 
    left: 0; 
  }




.textlink{
    /* background-color: #09f; */
    color: #1b1b1b;
    width: 170px;
    height: 55px;
    justify-content: center;
    display: flex;
    border-radius: 6px;
    align-items: center;
    /* text-align: center; */
    /* float: right */
    
}

.spacer{
    height: 125px;
    width: auto;
}

a{
    text-decoration: none;
    color: #1b1b1b;
}



body {
    color: #1b1b1b;
    font-family: 'Urbanist','sans-serif';
    height: 100vh; 
    margin-top: 0%!important;
    margin-bottom: 0%!important;
      
}



.topname {
    font-size: 48px;
    font-weight: 800;
}

.htext {
    margin-top: 11%;
    /* width: 60%; */
    font-size: 36px;
    font-weight: bold;
}



.rainbow {
  
    /* Font options */
  
   
    /* Chrome, Safari, Opera */
   -webkit-animation: rainbow 10s infinite; 
   
   /* Internet Explorer */
   -ms-animation: rainbow 10s infinite;
   
   /* Standar Syntax */
   animation: rainbow 10s infinite; 
 }

 .bgclr{
     animation: bgc 4s;
     -webkit-animation: bgc 4s;
     -ms-animation: bgc 4s;
     
 }
 
@-webkit-keyframes bgc{
    0%{background-color: #1b1b1b;color: #ffffff;}
    100%{background-color: #ffffff;color: #1b1b1b;}
}

@-ms-keyframes bgc{
    0%{background-color: #1b1b1b;color: #ffffff;}
    100%{background-color: #ffffff;color: #1b1b1b;}
}
@keyframes bgc{
    0%{background-color: #1b1b1b;color: #ffffff;}
    100%{background-color: #ffffff;color: #1b1b1b;}
}



 /* Chrome, Safari, Opera */
 @-webkit-keyframes rainbow{
   0%{color: orange;}	
   10%{color: purple;}	
     20%{color: red;}
   
   50%{color: coral;}
     60%{color: green;}
   70%{color: cyan;}
   80%{color: DeepPink;}
   90%{color: DodgerBlue;}
     100%{color: orange;}
 }
 
 /* Internet Explorer */
 @-ms-keyframes rainbow{
    0%{color: orange;}	
   10%{color: purple;}	
     20%{color: red;}
   
   50%{color: coral;}
     60%{color: green;}
   70%{color: cyan;}
   80%{color: DeepPink;}
   90%{color: DodgerBlue;}
     100%{color: orange;}
 }
 
 /* Standar Syntax */
 @keyframes rainbow{
     0%{color: orange;}	
   10%{color: purple;}	
     20%{color: red;}
  
   50%{color: coral;}
     60%{color: green;}
   70%{color: cyan;}
   80%{color: DeepPink;}
   90%{color: DodgerBlue;}
     100%{color: orange;}
 }



.cstxt{
    margin-bottom: 25px;
}

.imglogo{
    float: right;
    width: 20%;
    margin: 3em;
    
}

.content {
    /* margin: 3em; */
    /* margin-top: 20vh; */
    justify-content: center;
    width: 488px;
    margin-right: 150px;
    float: left;

}

.apphead{
    font-size: 98px;
}

.content2 {
    margin: 3em;
    /* margin-top: 25vh; */
    justify-content: center;
    width: 488px;
    margin-left: 150px;
    float: left;
    text-align: right;
    

}




.cta {
    background-color: #09f;
    color: #ffffff;
    width: 170px;
    height: 55px;
    text-align: center;
    /* padding: 18px; */
    border-radius: 6px;
    /* border-color: #1b1b1b; */
    transition: all 150ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    /* cursor: url(cur-bt.cur) 15 10, auto; */
    margin-right: 15px;

    
}

.cta:hover,
.cta:focus  {
    background-color: #1b1b1b;
    border: 0ch;
    color: #fff;
    
}

.apppagehlinks{
    display: flex;
    margin-right: 15px;
}

.m{
    
    background-color: #DFF2FF;
}
.p {
    background-color: #DFFFEC;;
}

.ncta:hover,
.ncta:focus {
    outline-width: 3px;
    border: inset 5px solid #1b1b1b; 
    background-color: #1b1b1b;
    
    color: #fff; 
}
.ncta {
    color: #1b1b1b;
    background-color: #fff;
    width: 170px;
    height: 55px;
    text-align: center;
    /* padding: 18px; */
    border-radius: 6px;
    /* border-color: #1b1b1b; */
    transition: all 150ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    /* cursor: url(cur-bt.cur) 15 15, auto; */
    
}

.ic a {
    margin-right: 15px;
}





/* this is going to be for mobile device from below here  */



